@import 'custom';
@import 'variablecontainer';
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";







@mixin setting($property) {
	padding: $property;
	font-size: $property;
	height: $property;
}

html, body{
	overflow-x: hidden;
	
}

	.fixer{
	margin-left: 10px;
	margin-right: 10px;
	}

.footer{

	background-color: black;

	padding-left:10px;
	padding-right:10px;

	
	
	.social{
	display: flex;
	flex-direction: row;
	//justify-content: space-around;
	 font-family: 'Galada';font-size: 35px;


	 .fa { @include setting(25px); }


.fa {
	
	width: $fw;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;

}

.fa:hover {
	opacity: $op;
}

.fa-facebook {
	background: #3B5998;
	color: $clr;
}

.fa-twitter {
	background: #55ACEE;
	color: $clr;
}

.fa-linkedin {
	background: #007bb5;
	color: $clr;
	}

	}

	 
	}
